<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="cardheader">
        <h5>
          Datos estudiantes
        </h5>
      </div>
      <div class="cardbody">
          <form>
            <div class="form-group">
              <input name="nombre" placeholder="Nombre" class="form-control"autofocus>
            </div>
            <div class="form-group">
              <label class="file">
                <img id="image" style="height: 70%; width: 70%; margin: 0 auto"/>
                <input type="file" id="file" aria-label="File browser example" (change)="changeListener($event)"/>
                <span class="file-custom"></span>
              </label>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngFor="">
    <div class="card text-center">
        <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
          <p>
              Nombre
          </p>
        </div>
        <div class="card-body">
            <img src="" style="height: 70%; width: 70%; margin: 0 auto"/>
        </div>
    </div>
</div>
</div>
